<a href="https://colab.research.google.com/github/Rosefinch-Midsummer/Awesome-Colab/blob/master/DS/Python%E6%89%B9%E9%87%8F%E5%A4%84%E7%90%86Excel%E8%A1%A8%E6%A0%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Python批量处理Excel表格](https://github.com/seizeeveryday/DA-cases)

In [1]:
!wget https://github.com/seizeeveryday/DA-cases/raw/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E5%9E%82%E9%92%93%E8%A3%85%E5%A4%87%26%E7%BB%91%E9%92%A9%E5%99%A8.xlsx

--2020-01-02 08:09:32--  https://github.com/seizeeveryday/DA-cases/raw/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E5%9E%82%E9%92%93%E8%A3%85%E5%A4%87%26%E7%BB%91%E9%92%A9%E5%99%A8.xlsx
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/seizeeveryday/DA-cases/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E5%9E%82%E9%92%93%E8%A3%85%E5%A4%87%26%E7%BB%91%E9%92%A9%E5%99%A8.xlsx [following]
--2020-01-02 08:09:33--  https://raw.githubusercontent.com/seizeeveryday/DA-cases/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E5%9E%82%E9%92%93%E8%A3%85%E5%A4%87%26%E7%BB%91%E9%92%A9%E5%99%A8.xlsx
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22041 (22K) [application/octet-stream]
Saving to: ‘垂钓装备&绑钩器.xlsx’

垂钓装备&绑钩器.xls 100%[===================>]  21.52K  --.-KB/s    in 0.008s

2020-01-02 08:09:33 (2.77 MB/s) - ‘垂钓装备&绑钩器.xlsx’ saved [22041/22041]

In [0]:
!wget https://github.com/seizeeveryday/DA-cases/raw/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E4%B8%93%E9%A1%B9%E6%88%B7%E5%A4%96%E8%BF%90%E5%8A%A8%E8%A3%85%E5%A4%87%26%E5%86%B0%E7%88%AA.xlsx

In [0]:
!wget https://github.com/seizeeveryday/DA-cases/raw/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E4%B8%93%E9%A1%B9%E6%88%B7%E5%A4%96%E8%BF%90%E5%8A%A8%E8%A3%85%E5%A4%87%26%E6%95%91%E7%94%9F%E8%A1%A3.xlsx

In [0]:
!wget https://github.com/seizeeveryday/DA-cases/raw/master/Python%2Bexcel/%E6%BA%90%E6%95%B0%E6%8D%AE128%E5%BC%A0%E8%A1%A8%E6%A0%BC/%E4%B8%93%E9%A1%B9%E6%88%B7%E5%A4%96%E8%BF%90%E5%8A%A8%E8%A3%85%E5%A4%87%26%E6%BB%91%E9%9B%AA%E5%A4%B4%E7%9B%94.xlsx

In [0]:
import time
import pandas as pd

In [3]:
#打开单个表格
name = '垂钓装备&绑钩器.xlsx'
df = pd.read_excel(name)
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1

In [4]:
#查看日期范围
df['日期'].unique()

array(['2019-08', '2019-07', '2019-06', '2019-05', '2019-04', '2019-03',
       '2019-02', '2019-01', '2018-12', '2018-11', '2018-10', '2018-09'],
      dtype=object)

In [5]:
#计算销售额
df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
df.head()

        日期       转化率     访客数 三级类目         客单价     品牌            销售额
0  2019-08  0.025806  221402  绑钩器   33.284283  品牌-17  190167.455681
1  2019-08  0.019638   14074  绑钩器  233.995330  品牌-12   64673.807815
2  2019-08  0.065407   75392  绑钩器   11.938785  品牌-20   58871.997672
3  2019-08  0.015905   85529  绑钩器   41.059966  品牌-13   55856.842507
4  2019-08  0.039033   23839  绑钩器   44.502008   品牌-1   41409.600947

In [6]:
#单表销售额合并
df_sum = df.groupby('品牌')['销售额'].sum().reset_index()
df_sum.head()

      品牌            销售额
0   品牌-1  529837.745358
1  品牌-10  217976.661847
2  品牌-11  327093.079507
3  品牌-12  485635.295843
4  品牌-13  438391.195855

In [7]:
#增加行业标签
df_sum['行业'] = name.replace('.xlsx','')
df_sum.head()

      品牌            销售额        行业
0   品牌-1  529837.745358  垂钓装备&绑钩器
1  品牌-10  217976.661847  垂钓装备&绑钩器
2  品牌-11  327093.079507  垂钓装备&绑钩器
3  品牌-12  485635.295843  垂钓装备&绑钩器
4  品牌-13  438391.195855  垂钓装备&绑钩器

In [0]:
import os
os.mkdir('data')

In [12]:
os.listdir()

['.config', '垂钓装备&绑钩器.xlsx', 'sample_data']

In [15]:
#搞定单个文件，批量处理只需要循环即可
import time

os.chdir('/content/data')

#开始时间
start = time.time()

#存储汇总的结果
result = pd.DataFrame()

#循环遍历表格名称
for name in os.listdir():
    df = pd.read_excel(name)
    #计算销售额字段
    df['销售额'] = df['访客数'] * df['转化率'] * df['客单价']
    #按品牌对细分行业销售额进行汇总
    df_sum = df.groupby('品牌')['销售额'].sum().reset_index()
    df_sum['类目'] = name.replace('.xlsx','')
    result = pd.concat([result,df_sum])

#对最终结果按销售额进行排序
final = result.groupby('品牌')['销售额'].sum().reset_index().sort_values('销售额',ascending = False)

#结束时间
end = time.time()
print('用Python操作所花费时间：{} s'.format(end-start))

用Python操作所花费时间：0.03563046455383301 s

In [16]:
final.head()

      品牌            销售额
11  品牌-2  638200.385731
13  品牌-3  590737.080541
16  品牌-6  569413.997897
14  品牌-4  562816.767092
0   品牌-1  529837.745358

In [17]:
#不显示科学计数法，保留小数点两位数
pd.set_option('display.float_format', lambda x: '%.2f' % x)
final.head()

      品牌       销售额
11  品牌-2 638200.39
13  品牌-3 590737.08
16  品牌-6 569414.00
14  品牌-4 562816.77
0   品牌-1 529837.75